<% include ../partials/header %>
<div class="container">
  <form id = "contact" action="/courses" method="post">
    <fieldset>
      <input type="text" name="course" placeholder="Add a course">
    </fieldset>
    <fieldset>
      <button type="submit" name="button">Submit</button>
    </fieldset>
  </form>
</div>
<% include ../partials/footer %>
