<% include ../partials/header %>
<div class="container">
  <form id = "contact" action="/clients" method="post">
    <fieldset>
      <input type="text" name="number" placeholder="Enter a number">
    </fieldset>
    <fieldset>
      <button type="submit" name="button" id = "contact-submit">Submit</button>
    </fieldset>
  </form>
</div>
<% include ../partials/footer %>
